<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ama.algorithmmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:name=".application.AMAApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlgorithmManagement"
        android:usesCleartextTraffic="true">

        <activity android:name=".presentation.main.KMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.kDefault.MyChildCommentActivity"/>

        <activity
            android:name=".activity.kDefault.TryHistoryActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".activity.kDefault.TryFailedActivity"
            android:exported="true">
        </activity>

        <activity android:name=".presentation.vpdetail.activity.KViewProblemDetailActivity"/>

        <activity android:name=".presentation.signup.activity.KSignUpActivity" />
        <activity android:name=".presentation.login.activity.KRLoginActivity" />
        <activity
            android:name=".presentation.splash.activity.KSplashActivity"
            android:exported="true"/>

        <activity
            android:name=".activity.kDefault.NoTipActivity"
            android:exported="true" />

        <activity
            android:name=".activity.kDefault.MyTipActivity"
            android:exported="true">
        </activity>

        <activity android:name=".activity.kDefault.SettingActivity" />
        <activity android:name=".activity.kDefault.KCallAPIActivity" />
        <activity android:name=".activity.kDefault.KCallSolvedAlgorithmAct" />
        <activity android:name=".activity.kDefault.NewSolvedProblemActivity"/>
        <activity android:name=".presentation.webview.WebViewActivity"/>
        <activity android:name=".presentation.status.CategoryStatusActivity"/>
        <activity android:name=".presentation.search.SearchActivity"/>



        <activity android:name=".activity.test.TestDefaultActivity" />
        <activity android:name=".activity.test.TestSearchActivity"/>
        <activity android:name=".activity.test.TestLoginActivity" />
        <activity android:name=".activity.test.TestFirebaseTest"/>
        <activity android:name=".activity.test.TestSharedActivity"/>
        <activity android:name=".activity.test.TestIdeaActivity"/>
        <activity android:name=".activity.test.TestDateActivity"/>
        <activity android:name=".activity.test.TestCommentActivity"/>
        <activity android:name=".activity.test.TestChildCommentActivity"/>
        <activity android:name=".activity.test.TestTippingItemAct"/>

        <!-- PROVIDER -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ama.algorithmmanagement.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>